<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="dev.datlag.burningseries.READ_DATABASE" />

    <queries>
        <package android:name="dev.datlag.aniflow" />
    </queries>

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.ethernet"
        android:required="false" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:banner="@mipmap/ic_banner"
        android:label="Burning-Series"
        android:name=".App"
        android:supportsRtl="true"
        android:appCategory="video"
        android:allowAudioPlaybackCapture="false"
        android:enableOnBackInvokedCallback="true"
        android:networkSecurityConfig="@xml/network_security"
        android:usesCleartextTraffic="true"
        android:theme="@style/SplashScreenTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"
            android:supportsPictureInPicture="true"
            android:visibleToInstantApps="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="dev.datlag.burningseries.other.CastOptionsProvider" />

        <meta-data
            android:name="instantapps.clients.allowed"
            android:value="true" />

        <meta-data
            android:name="open_source"
            android:value="true" />

        <meta-data
            android:name="open_source_license"
            android:value="GNU GENERAL PUBLIC LICENSE Version 3" />

        <receiver
            android:name="androidx.mediarouter.media.MediaTransferReceiver"
            android:exported="true" />
    </application>

</manifest>