<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.ethernet"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Mimasu Extension"
        android:name=".App"
        android:supportsRtl="true"
        android:appCategory="video"
        android:allowAudioPlaybackCapture="false"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="open_source"
            android:value="true" />

        <meta-data
            android:name="open_source_license"
            android:value="GNU GENERAL PUBLIC LICENSE Version 3" />

        <provider
            android:authorities="${applicationId}.androidx-startup"
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            tools:node="merge">

            <meta-data android:name="dev.datlag.mimasu.extension.AppInitializer"
                android:value="androidx.startup" />
        </provider>

        <service android:name=".service.UpdateService"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.datlag.mimasu.extension.IUpdateProvider" />
            </intent-filter>
        </service>

        <service android:name=".service.ShowService"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.datlag.mimasu.extension.IShowInfoProvider" />
            </intent-filter>
        </service>

    </application>

</manifest>